$primary: #27374d;
$secondary: #dde6ed;
// $primary: #4a6cd1;
@mixin main-button($color, $border-color) {
  //   margin-top: 50px;
  font-family: "Poppins";
  padding: 0.5rem;
  color: white;
  background-color: $color;
  border-radius: 5px;
  border: 2px solid $border-color;
}
@mixin font($font, $color, $weight, $size, $height: normal) {
  font-family: $font;
  color: $color;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}
body {
  @media only screen and (max-width: 576px) {
    background: white;
  }

  filter: blur(0.4);
  .full-screen {
    min-width: 100vw;
    background: $primary;
    // background: linear-gradient(142deg, $primary 0%, rgb(2, 31, 144) 100%);
  }
  .form-box {
    min-height: 100vh;
    position: relative;
    max-width: 1440px;
    margin: auto;
    max-height: 98vh;

    .sign-in {
      position: absolute;
      top: 2rem;
      right: 2rem;
      color: white;
      //   color: white;

      .sign-link {
        @include main-button(black, transparent);
        text-decoration: none;
        margin-left: 1rem;
      }
    }
    .inner-from-box {
      max-height: 98vh;

      // max-width: 10%;
      // border: 5px solid black;
      border: 5px solid $secondary;
      border-bottom: 1px solid $secondary;
      border-right: 3px;
      border-left: 3px;

      background-color: transparent;
      // background-color: $secondary;
      // background-color: rgb(255, 255, 255);
      @media only screen and (max-width: 576px) {
        max-width: 100%;
        min-width: 98%;
      }
      h4 {
        @include font("Poppins", $secondary, 600, 30px);
      }
      input,
      .submit-button,
      .input-group {
        border-radius: 5px;
        border: 0px solid;
        padding: 1rem;
        margin-bottom: 0rem;
        margin-top: 0rem;
        min-width: 20rem;
        background-color: rgb(240 240 240);
        //
        @media only screen and (max-width: 576px) {
          max-width: 100%;
          min-width: 90%;
        }
      }
      .selected-flag {
        // border: none;
        z-index: 13;
        width: 30px;
        height: 100%;
        padding: 0 0 0 8px;
        border-radius: 3px 0 0 3px;
        right: -275px;
        /* background-color: black; */
        /* color: white; */
        // margin-bottom: 2rem;
      }
      .flag,
      .arrow {
        position: relative;
        top: 0;
        right: 15px;
      }
      .country-list {
        top: -325px;
        left: -40px;
      }
      .submit-button {
        margin-top: 2rem;
        color: #27374d !important;
        @include main-button($secondary, transparent);
        // @include main-button(black, transparent);
      }
      border-radius: 5px;
      padding: 01rem 2rem 3.5rem 2rem;
      max-width: 30rem;
      height: fit-content;
      // -webkit-box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
      // -moz-box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
      // box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
    }
  }
}
