$shadow: 0px 3px 10px rgba(6, 4, 4, 0.1);
$primarycolor: #7a1de0;
$radius: 2rem;
$primary: #ffffff;
$secondary: #dde6ed;
$main-color: #7a1de0;
$borderTop: 2px solid $primarycolor;

// button only for login,logout,signup page
@mixin button($width, $margin: 0, $marginLeft: 0) {
  padding: 0.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  color: white;
  width: $width;
  background-color: $primarycolor;
  margin-bottom: 1rem;
  margin: $margin;
  margin-left: $marginLeft;
  border-radius: $radius;
  &:hover {
    background-color: $primarycolor;
  }
}
@mixin font($font, $color, $weight, $size, $height: normal) {
  font-family: $font;
  color: $color;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

// button for all main pages in app
@mixin main-button($color, $border-color) {
  //   margin-top: 50px;
  font-family: "Poppins";
  padding: 0.5rem;
  color: white;
  background-color: $color;
  border-radius: 5px;
  border: 2px solid $border-color;
}

::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: $primary; /* Track color */
  border-radius: 4px;
  border: 1px solid #676767bf;
}

::-webkit-scrollbar-thumb {
  // lighten is preduild function that makes the color light as the give value
  background-color: lighten($main-color, 20); /* Thumb color */
  // background-color: #b4a7b7bf; /* Thumb color */
  border-radius: 4px; /* Rounded corners */
}
body {
  .longloadingButton {
    @include button(100%);
  }
  .smallButton {
    @include button(0, 0.7rem, 0rem);
  }
  background: lighten($primarycolor, 47);
  filter: blur(0.4);

  // ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^css for login,logoutall,signup file jsx^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

  .full_screen_login_page {
    min-width: 100vw;
    background: $primary;
    background-image: url("./Rectangle_voilet.svg");
    background-repeat: no-repeat;
    @media only screen and (max-width: 767px) {
      background-image: url("");
      background-color: $main-color;
    }

    .form-box {
      min-height: 100vh;
      position: relative;
      max-width: 1440px;
      margin: auto;
      max-height: 98vh;

      .sign-in {
        position: absolute;
        top: 2rem;
        right: 2rem;
        color: white;
        //   color: white;

        .sign-link {
          @include main-button(black, transparent);
          text-decoration: none;
          margin-left: 1rem;
        }
      }

      .inner-from-box {
        max-height: 98vh;

        border-radius: 1rem !important;
        background-color: $secondary;
        background-color: rgb(255, 255, 255);
        @media only screen and (max-width: 576px) {
          max-width: 100%;
          min-width: 60%;
        }
        InputLabel {
          color: $secondary;
          background-color: #179bd7;
        }
        h4 {
          @include font("Poppins", transparentize(black, 0.5), 600, 35px);
          // @include font("Poppins", rgba(0, 0, 0, 0.527), 600, 35px);
        }
        hr {
          color: black;
          opacity: 1;
          height: 2px;
          width: 40%;
          display: flex;
        }

        input,
        .submit-button,
        .input-group {
          border-radius: 5px;
          border: 0px solid;
          padding: 1rem;
          margin-bottom: 0rem;
          margin-top: 0rem;
          min-width: 15rem;
          min-width: 15rem;
          height: 0.5rem;
          background-color: rgb(240 240 240);

          @media only screen and (max-width: 576px) {
            max-width: 100%;
            min-width: 70%;
          }
        }
        .link {
          text-decoration: none;
        }
        .selected-flag {
          z-index: 13;
          width: 30px;
          height: 100%;
          padding: 0 0 0 8px;
          border-radius: 3px 0 0 3px;
          right: -275px;
        }
        .flag,
        .arrow {
          position: relative;
          top: 0;
          right: 15px;
        }
        .country-list {
          top: -325px;
          left: -40px;
        }
        .submit-button {
          margin-top: 2rem;
          height: 2.5rem;
          color: $secondary !important;
          @include main-button($main-color, transparent);
        }
        border-radius: 5px;
        padding: 01rem 2rem 3.5rem 2rem;
        max-width: 30rem;
        height: fit-content;
        -webkit-box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
  // ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^css for controler file jsx^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  .controler {
    .alert {
      position: fixed;
      z-index: 1000;
      width: 95%;
      margin-left: 3%;
      margin-top: 2%;
      border: 1px solid gray;
      border-radius: 2rem;
      box-shadow: $shadow;
    }

    .page-wrapper {
      display: flex;
      width: 100%;
      height: 100%;
      position: fixed;

      .headerAndMain {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
      }
    }
  }

  // ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^css for addfund file jsx^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  .addFunds {
    .card-container {
      width: 100%;
      padding: 0.5rem;
      background-color: #ffffff;
      box-shadow: $shadow; /* If shadow is a CSS variable */
      cursor: pointer;
      border-top: $borderTop; /* If borderTop is a CSS variable */
    }
  }
}
